<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>home page</h1>

  <!-- display variable -->

  <span><%=name%></span>

  <!-- create variable -->
  <% var i =20%>

  <span><%=i%></span>

  <!-- comments -->
   <%# comments %>

   <!-- if condition -->
    <!-- < if (variable)> -->
     <!-- ........... -->
<!-- }> -->


<% if(name) {%>
  <h1>name is existis</h1>
  <% } %>


  <!--loop  -->

  <%  if(!!!!name){for(i=0;i<=3;i++) {%>
    hello
    <% } } %>

    <% for (let i = 0; i < marks.length; i++) { %>
  <%= marks[i] %>
<% } %>

<!-- includes -->

<!-- <%- includes() -->

</body>
</html>
